In [58]:
import tweepy
import pandas as pd

# Add your Bearer token here.
client = tweepy.Client(bearer_token='')

# Create Pandas dataframe with three columns
df = pd.DataFrame(columns=['text', 'created_at', 'language'])

# Query tweets with #news. Show only 100 tweets
query = '#news'
tweets = client.search_recent_tweets(query=query, tweet_fields=['created_at', 'lang'], max_results=100)

for tweet in tweets.data:
    text = tweet.text
    created_at = tweet.created_at
    language = tweet.lang

    # Focus only to tweets in english
    if language == 'en':
        tmp = [text, created_at, language]
        df.loc[len(df)] = tmp

# Total amount of tweets in dataframe
print('Amount: ', len(df))

# Show first 5 lines of dataframe
df.head()

Amount:  56

,text,created_at,language
0,MANA Price Prediction: https://t.co/pT1UDwH0ld...,2022-04-13 14:29:25+00:00,en
1,What’s Coming: The Intersection of 4 Megatrend...,2022-04-13 14:29:24+00:00,en
2,Current Affairs of 13 April 2022 in English - ...,2022-04-13 14:29:23+00:00,en
3,RT @PhantasmaBot_: #PhantasmaChain #News #Arti...,2022-04-13 14:29:22+00:00,en
4,RT @Finlandappfi: Watch the video\nKainuu-Wate...,2022-04-13 14:29:19+00:00,en

In [67]:
truenews = pd.read_csv("../files/True.csv")
fakenews = pd.read_csv("../files/Fake.csv")

truenews['label'] = 1
fakenews['label'] = 0

news = pd.concat([truenews, fakenews], axis=0)

df_news = news[['title', 'label']]
df_news = df_news.sample(frac = 1)
df_news.head()

                                                   title  label
18376  LOL! NEW VIDEO Emerges Of Central Park Trump A...      0
17639  WHOOPI GOLDBERG RANTS: ‘Stupidest Thing’ That ...      0
23111  CNN Fake News vs Real News: First Images of Ab...      0
15160  Pope says world should condemn 'very possessio...      1
7041   Trump faces dilemma as U.S. oil reels from rec...      1